*{
	padding: 0;
	margin: 0;
}

body {
	padding-top: 80px;
}

/*--Menu--*/
.navbar-default {
	background-color: #FFF;
	border: none;
}

.navbar-brand img {
	width: 250px;
	padding: 0;
}

.navbar-nav {
	height: 80px;
	display: flex;
	align-items: center;
}

.nav>li {
	height: 100%;
}

.navbar-nav>li>a {
	display: flex;
	align-items: center;
	height: 100%;
}

.navbar-default .navbar-nav>li>a:hover {
	background-color: #88c354;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: #88c354;
}

@media screen and (max-width: 767px) {
	.navbar-nav {
		height: auto;
		display: block;
	}
	.navbar {
		margin-bottom: 0;
	}

	body {
		padding-top: 50px;
	}
}

/*--Slide Topo--*/

.carousel-inner .item img {
	max-height: 600px;
	width: 100%;
}

.carousel-caption h3 {
	text-transform: uppercase;
}

.carousel-caption p {
	font-size: 18px;
}

#btn-descer {
	position: absolute;
	left: 50%;
	top: 100%;
	margin-left: -20px;
	margin-top: -20px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: #88c354;
	border: none;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-descer:hover {
	color:#000;
}

#destaque #btn-descer span {
	margin-left: 2px;
}

/*--Pesquisa--*/

#pesquisa {
	background-color: #f2f2f2;
	padding:25px 0;
}

#pesquisa select {
	width: 100%;
}

#pesquisa .form-group, #pesquisa .form-group div {
	padding: 0;
}

#pesquisa h1 {
	padding:0;
	margin:0 0 15px 0;
}

#pesquisa .btn-search {
	text-align: right;
	padding:0;
}

#pesquisa .btn-search button {
	padding-left: 30px;
	padding-right: 30px;
}

@media screen and (max-width:767px) {
	#pesquisa .btn-search button {
		width: 100%;
		text-align: center;
	}
}

/*--Ofertas Destaque--*/

#destaques {
	margin: 30px 0;
}

#destaques h3 {
	margin: 0;
}

#destaques i {
	font-size: 14px;
}

#destaques ul {
	list-style: none;
	margin-top: 10px;
}

#destaques ul li figure img {
	width: 100%;
}

#destaques ul li figure, #destaques ul li article, #destaques ul li {
	padding: 0;
}

#destaques ul li article {
	padding-left: 5px;
}

#destaques strong, #destaques span {
	display: block;
}

#destaques .tipo {
	text-transform:uppercase;
}

@media screen and (max-width: 767px) {
	#destaques ul li:last-child {
		margin-top: 10px;
	}
}

/*--PUBLICIDADE--*/

#publicidade {
	margin: 30px 0;
}

#publicidade #public {
	height: 160px;
	color: #FFF;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*-- Imoveis RECENTES index--*/

#recentes ul {
	list-style: none;
}

#recentes h3 {
	margin: 0 0 30px 0;
}

#recentes ul li {
	margin-bottom: 20px;
}

#recentes ul li .image {
	width: 100%;
	height: 230px;
	background-image: url(../img/imoveis_recentes.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#recentes ul li figure .valor {
	display: flex;
	justify-content: center;
	color: #FFF;
	top:3px;
	background-color: #88c354;
	padding: 5px;
}

#recentes ul li figure .tipo {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFF;
	background-color: #455167;
}

#recentes ul li .infos {
	display: flex;
	justify-content:space-around;
	align-items: center;
	background-color: #f2f2f2;
	height: 35px;
}
