# Created by https://www.toptal.com/developers/gitignore/api/wordpress
# Edit at https://www.toptal.com/developers/gitignore?templates=wordpress

#Node Modules
/.node_modules

# Log files
*.log

# htaccess
/.htaccess